.wrapper {
  width: 348px;
  text-align: center;
  margin: 0 auto;
}
.pwdCheckerBar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
}
.pwdCheckerBar::-webkit-progress-bar {
  background-color: rgb(246, 241, 241);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.pwdCheckerBar::-webkit-progress-value {
  border-radius: 4px;
  background-size: 30px 18px, 100% 100%, 100% 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.label {
  margin-top: 10px;
  margin-bottom: 0px;
}
.weak::-webkit-progress-value {
  background-color: #e20b07;
}
.fair::-webkit-progress-value {
  background-color: #ebbd04;
}
.good::-webkit-progress-value {
  background-color: #0b75ed;
}
.strong::-webkit-progress-value {
  background-color: #01a917;
}
.weak {
  color: #e20b07;
}
.fair  {
  color: #ebbd04;
}
.good {
  color: #0b75ed;
}
.strong  {
  color: #01a917;
}