.userMenu {
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.userMenu button {
  cursor: pointer;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding-left: 8px;
  padding-top: 5px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.userMenu button:hover {
  background-color: white;
  color: black;
}
